.header
{
    width:800px;
    height: 100px;
    background-image: url('../images/banner.png');
    background-repeat: no-repeat;
}

.footer, .top_nav
{
    position: relative;
    width: 800px;
    top: 15px;
    text-align: left;
}

.failure
{
    color: #ff0000;
}

.success
{
    color: #006600;
}
.top_nav
{
    top: 5px;
    text-align: right;
}

.footer p, .top_nav p
{
    margin: 10px;
}

.header,.content,.footer, .top_nav
{
    border-style: solid;
    border-width:1px;
    border-color: #000000;
    background-color: #ffffff;
}

body
{
    font-family: sans-serif;
    font-size: 12px;
    margin-top: 5px;
    background-color: #99cccc;
}

.content
{
    position: relative;
    width:800px;
    top:10px;
    left: 0px;
    text-align:left;
}

.content p
{
    margin: 10px;
    width: 395px;
    text-align: justify;
}

h1,h2
{
    margin-left: 10px;
}

h1
{
    font-size: 20px;
}

h2
{
   font-size: 16px; 
}

.login_form
{
    width: 395px;
    position: absolute;
    top: 10px;
    left: 415px;
    text-align: left;
}

.login_form form
{
    margin: 10px;
}

.login_form a
{
    margin: 10px;
}

.login_button
{
    position: relative;
    left: 110px;
}

.input
{
    position: relative;
    left: 50px;
}